.example-spacer {
  flex: 1 1 auto;
  background-color: blue;
}
.header {
  font-size: large;
}
h1 {
  color: white;
}
.menu {
  background-color: blue;
  flex: 1 1 auto;
}
a {
  color: white;
  font-size: medium;
}
