<div>
  <mat-toolbar color="primary" class="example-spacer">
    <mat-toolbar-row>
      <h1 class="header">Itau Gastos Cartão</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div>
  <mat-tab-group mat-align-tabs="start" class="menu" animationDuration="0ms">
    <mat-tab class="menu">
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          [routerLink]="['/geral']"
          routerLinkActive
          #rla="routerLinkActive"
        >
          Lista Geral
        </a>
        <a
          mat-tab-link
          [routerLink]="['/mes']"
          routerLinkActive
          #rla="routerLinkActive"
        >
          Por Mês
        </a>
        <a
          mat-tab-link
          [routerLink]="['/categoria']"
          routerLinkActive
          #rla="routerLinkActive"
        >
          Por Categoria
        </a>
      </nav>
    </mat-tab>
  </mat-tab-group>
</div>
<div>
  <router-outlet></router-outlet>
</div>
