<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="geral">
    <th mat-header-cell *matHeaderCellDef>Lançamentos</th>
    <td mat-cell *matCellDef="let element">
      {{ element.origem }}
      <br />{{ element.valor | currency: "BRL":true }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
